<div class="component-header">
    <div class="icon-container">
        <img src="assets/images/icons/icon-calendar-add-empty.svg" alt="calendar icon" class="icon"> 
    </div>
    <h3 class="title">Manage Events</h3>  
</div>
<div class="container">
    <button class="btn btn--primary add-event"><img src="assets/images/icons/icon-plus.svg" alt="add icon" class="icon"> Add event</button>
    <div class="actions">
        <div class="action">
            <label for="bulk">Edit selected: </label>
            <select class="form-control" id="bulk" ngModel name="bulk" required>
                <option>Delete</option>
                <option>Change status</option>
                <option>Change date</option>
            </select>
        </div>
        <div class="searchbar">
            <form class="searchbar__form">
                  <img src="assets/images/icons/icon-search.svg" alt="search icon" class="searchicon">
                  <input matInput placeholder="Search..." class="input">
              </form>
        </div>
    </div>
    <table class="main-table">
        <thead>
            <tr>
                <td class="checkbox"><input type="checkbox" id="selectall" name="selectall"></td>
                <th *ngFor = "let header of headers">{{header}}</th>
            </tr>
        </thead>
        <tr *ngFor = "let event of events" class="content">
            <td class="checkbox"><input type="checkbox" id="selecteach" name="selecteach"></td>
            <td class="event-name">
                <a href="#">{{event.name}}</a>
            </td>
            <td>
                <a href="#">{{event.lecturer}}</a>
            </td>
            <td>
                {{event.location}}
            </td>
            <td>
                {{event.date}}
            </td>
            <td class="{{event.status}}">
                {{event.status}}
            </td>
            <td>
                <a href="#">{{event.attendees}}</a>
            </td>
        </tr>
    </table>
    <div class="pagination"><p>Page <span>1 </span>of 4</p><button class="btn"><i class="arrow left"></i></button><button class="btn"><i class="arrow right"></i></button></div>

</div>
