<a routerLink="/" ><img src="assets/images/logo-dark.png" alt="" class="logo"></a>
<p class="title">Pega World '22</p>

<div class="searchbar">
    <form class="searchbar__form">
          <img src="assets/images/icons/icon-search.svg" alt="icon with search glass" class="searchicon">
          <input matInput placeholder="Search..." class="input">
      </form>
</div>

<div class="darkmode">
    <img src="assets/images/icons/icon-sun.svg" alt="icon with sun" class="searchicon">

    <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>
    <img src="assets/images/icons/icon-moon.svg" alt="icon with moon" class="searchicon">

</div>


<button class="btn btn--round user">LJ</button>

