<ul class="links">
    <li class="links__item">
        <a routerLink="/" class="links__link home">
            <p class="links__link__description">Home</p>
        </a>
    </li>
    <li class="links__item">
        <a routerLink="/agenda" class="links__link calendar">
            <p class="links__link__description">Agenda</p>
        </a>
    </li>
    <li class="links__item">
        <a routerLink="/events" class="links__link calendar-add">
            <p class="links__link__description">Manage</p>
        </a>
    </li>
    <li class="links__item">
        <a routerLink="/users" class="links__link attendees">
            <p class="links__link__description">Attendees</p>
        </a>
    </li>
</ul>
