.main-table {
    width: 100%;
    thead {
        background-color: $background-table-header;
        padding: 10px;
        th, td {
            padding: 5px;
            text-align: left;
        }
    }
    .content {
        th, td {
            font-weight: 400;
            padding: 5px;
            text-align: left;
        }
    }
}

table, th, td {
    border: $border;
    border-collapse: collapse;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    p {
        padding-right: 10px;
        span {
            font-weight: 700
        }
    }
        .btn {
            transform: unset;
            padding: 10px;
            border-radius: 50%;
            &:hover {
                .arrow {
                    border-width: 0 2px 2px 0;
                }
            }
        }
        .arrow {
            border: solid #000;
            border-width: 0 1px 1px 0;
            display: inline-block;
            padding: 3px;
    
            &.right {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }
            
            &.left {
                border-color: rgba(#000, .4);
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            }
          }
}

@media (max-width: $size-m) {
    .main-table {
        display: flex;
        overflow: scroll;
        position: relative;
        .checkbox {
            max-height: 30px;
        }
        thead {
            position: sticky;
            top: 0;
            left: 0;
            min-height: 100%;
            min-width: 120px;
            padding: 0;
            border: unset;
            tr {
                display: flex;
                flex-direction: column;
                height: 100%;
                
                & > * {
                    border: unset;
                    flex-basis: 100%;
                }
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            min-height: 100%;
            & > * {
                flex-basis: 100%;
                border: unset;
                &:not(.event-name) {
                    white-space: nowrap;
                }
            }
            .event-name {
                width: 150px;
                min-height: 120px;
                overflow: hidden;
            }
        }
    }
}