<div class="component-header">
    <div class="icon-container">
        <img src="assets/images/icons/icon-attendees-empty.svg" alt="icon with calendar" class="icon"> 
    </div>
    <h3 class="title">Welcome to Pega World '22!</h3>  
</div>

<div class="container announcements">
    <h1 class="title">Announcements</h1>  
    <p class="description">We've launched a brand new experience to improve your Pega World Experience!</p>
    <button class="btn btn--secondary">See what's new</button>
</div>

<div class="container">
    <h1 class="title">See short presentations from our lecturers! <span>(subtitles included)</span></h1> 
    <div class="video-container">
        <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="250" src="https://www.youtube.com/embed/arj7oStGLkU?&cc_lang_pref=en&cc=1" width="250"></iframe>
        <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="250" src="https://www.youtube.com/embed/fxbCHn6gE3U?&cc_lang_pref=en&cc=1" width="250"></iframe>
        <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="250" src="https://www.youtube.com/embed/uT_GcOGEFsk?&cc_lang_pref=en&cc=1" width="250"></iframe>
        <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="250" src="https://www.youtube.com/embed/Y1e38mkTfRA?&cc_lang_pref=en&cc=1" width="250"></iframe>
        
    </div> 
</div>