<div class="component-header">
    <div class="icon-container">
        <img src="assets/images/icons/icon-attendees-empty.svg" alt="calendar icon" class="icon"> 
    </div>
    <h3 class="title">Manage Attendees</h3>  
</div>
<div class="container">
    <button class="btn btn--primary add-user"><img src="assets/images/icons/icon-plus.svg" alt="add icon" class="icon"> Add attendee</button>
    <div class="actions">
        <!-- <div class="action">
            <label for="bulk">Edit selected: </label>
            <select class="form-control" id="bulk" ngModel name="bulk" required>
                <option>Delete</option>
                <option>Change status</option>
                <option>Change date</option>
            </select>
        </div> -->
        <div class="searchbar">
            <form class="searchbar__form">
                  <img src="assets/images/icons/icon-search.svg" alt="search icon" class="searchicon">
                  <input matInput placeholder="Search..." class="input">
              </form>
        </div>
    </div>
    <table class="main-table">
        <thead>
            <tr>
                <!-- <td class="checkbox"><input type="checkbox" id="selectall" name="selectall"></td> -->
                <th *ngFor = "let header of headers">{{header}}</th>
            </tr>
        </thead>
        <tr *ngFor = "let user of users" class="content">
            <!-- <td class="checkbox"><input type="checkbox" id="selecteach" name="selecteach"></td> -->
            <td class="user-name">
                {{user.firstName}}
            </td>
            <td>
                {{user.lastName}}
            </td>
            <td>
                {{user.email}}
            </td>
            <td>
                {{user.phone}}
            </td>
            <td>
                {{user.company}}
            </td>
            <td>
                {{user.role}}
            </td>
        </tr>
    </table>
    <div class="pagination"><p>Page <span>1 </span>of 4</p><button class="btn"><i class="arrow left"></i></button><button class="btn"><i class="arrow right"></i></button></div>

</div>
