<div class="component-header">
    <div class="icon-container">
        <img src="assets/images/icons/icon-attendees-empty.svg" alt="calendar icon" class="icon"> 
    </div>
    <h3 class="title">Manage Attendees</h3>  
</div>
<div class="container">
    <button class="btn btn--primary add-user"><img src="assets/images/icons/icon-plus.svg" alt="add icon" class="icon"> Add attendee</button>
    <div class="actions">
        <!-- <div class="action">
            <label for="bulk">Edit selected: </label>
            <select class="form-control" id="bulk" ngModel name="bulk" required>
                <option>Delete</option>
                <option>Change status</option>
                <option>Change date</option>
            </select>
        </div> -->
        <div class="searchbar">
            <form class="searchbar__form">
                  <img src="assets/images/icons/icon-search.svg" alt="search icon" class="searchicon">
                  <input matInput placeholder="Search..." class="input">
              </form>
        </div>
    </div>
    <table class="main-table">
        <thead>
            <tr>
                <!-- <td class="checkbox"><input type="checkbox" id="selectall" name="selectall"></td> -->
                <th *ngFor = "let header of headers">{{header}}</th>
            </tr>
        </thead>
        <tr *ngFor = "let user of users" class="content">
            <!-- <td class="checkbox"><input type="checkbox" id="selecteach" name="selecteach"></td> -->
            <td class="user-name">
                {{user.firstName}}
            </td>
            <td>
                {{user.lastName}}
            </td>
            <td>
                {{user.email}}
            </td>
            <td>
                {{user.phone}}
            </td>
            <td>
                {{user.company}}
            </td>
            <td>
                {{user.role}}
            </td>
        </tr>
    </table>
    <div class="pagination"><p>Page <span>1 </span>of 4</p><button class="btn"><i class="arrow left"></i></button><button class="btn"><i class="arrow right"></i></button></div>
</div>

<div class="container">
    <h3 class="title">Details</h3> 
    <div class="features">
        <div class="group">
            <h4 class="title-smaller">Personal details:</h4>
            <div class="feature">
                <p class="label">First name</p>
                <p class="value">Yuliana</p>
            </div>
            <div class="feature">
                <p class="label">Last name</p>
                <p class="value">Morana</p>
            </div>
            <div class="feature">
                <p class="label">Email</p>
                <p class="value">ym@pega.com</p>
            </div>
            <div class="feature">
                <p class="label">Phone number</p>
                <p class="value">+49123412341234</p>
            </div>
            <div class="feature">
                <p class="label">Company</p>
                <p class="value">Pega Client</p>
            </div>
            <div class="feature">
                <p class="label">Role</p>
                <p class="value">Sales manager</p>
            </div>
        </div>
        <div class="group">
            <h4 class="title-smaller">Account Details:</h4>
            <div class="feature">
                <p class="label">Account ID</p>
                <p class="value">H7-291-00</p>
            </div>
            <div class="feature">
                <p class="label">Date of join</p>
                <p class="value">Oct 9, 2017</p>
            </div>
            <div class="feature">
                <p class="label">Interests</p>
                <p class="value">margketing, design, sales, distribution</p>
            </div>
        </div>
        <div class="group">
            <h4 class="title-smaller">Pega World 22:</h4>
            <div class="feature">
                <p class="label">Selected Lectures</p>
                <p class="value">Payment Fraud & Dispute Service, Simplified<br>Pega Research Study: How Real-Time Decisioning Works in the Real-World<br>Modernizing for the Future: Digital Transformation at FedEx</p>
            </div>
            <div class="feature">
                <p class="label">Overall Satisfation Rating</p>
                <p class="value">8</p>
            </div>
        </div>
    </div> 
</div>