<div class="container">
    <div class="details">
        <h1 class="title">List of events:</h1>
        <div class="for-day">
            <h2 class="date">May 24, 2022</h2>
            <div class="event">
                <div class="time">
                    <p class="start">08:30</p>
                    <p class="end">10:00</p>
                </div>
                <div class="title">
                    <a href="#" class="link">The Power to Simplify: What You Need to Crush Complexity</a>
                </div>

            </div>
            <div class="event">
                <div class="time">
                    <p class="start">08:30</p>
                    <p class="end">10:00</p>
                </div>
                <div class="title">
                    <a href="#" class="link">StepChange: Embracing a Customer-first Vision to Simplify Service</a>
                </div>

            </div>
            <div class="event">
                <div class="time">
                    <p class="start">10:30</p>
                    <p class="end">12:00</p>
                </div>
                <div class="title">
                    <a href="#" class="link">Real Value for Real Customers in Real Time</a>
                </div>
            </div>
            <div class="event">
                <div class="time">
                    <p class="start">10:30</p>
                    <p class="end">12:00</p>
                </div>
                <div class="title">
                    <a href="#" class="link">Pfizer: Making Breakthroughs That Change Patients’ Lives</a>
                </div>
            </div>
            <div class="event">
                <div class="time">
                    <p class="start">12:30</p>
                    <p class="end">14:00</p>
                </div>
                <div class="title">
                    <a href="#" class="link">Narrowing Down and Widening Out: Making Interactions Count at Wells Fargo</a>
                </div>
            </div>
            <div class="event">
                <div class="time">
                    <p class="start">12:30</p>
                    <p class="end">14:00</p>
                </div>
                <div class="title">
                    <a href="#" class="link">Low-code Approach to Amazing Experiences</a>
                </div>
            </div>
            <div class="event">
                <div class="time">
                    <p class="start">14:30</p>
                    <p class="end">16:00</p>
                </div>
                <div class="title">
                    <a href="#" class="link">What’s Next? 5 Tech Trends Shaping the Future</a>
                </div>

            </div>
            <div class="event">
                <div class="time">
                    <p class="start">14:30</p>
                    <p class="end">16:00</p>
                </div>
                <div class="title">
                    <a href="#" class="link">Pega 101: Overview of Pega’s Vision and Technologies</a>
                </div>

            </div>
            <div class="event">
                <div class="time">
                    <p class="start">16:30</p>
                    <p class="end">18:00</p>
                </div>
                <div class="title">
                    <a href="#" class="link">Intro to One-to-one Customer Engagement</a>
                </div>
            </div>
            <div class="event">
                <div class="time">
                    <p class="start">16:30</p>
                    <p class="end">18:00</p>
                </div>
                <div class="title">
                    <a href="#" class="link">Intro to Pega Customer Service: Service, Simplified</a>
                </div>
            </div>
        </div>
        <!-- <div class="for-day">
            <h2 class="date">May 25, 2022</h2>
            <div class="event">
                <div class="time">
                    <p class="start">08:30</p>
                    <p class="end">10:00</p>
                </div>
                <div class="title">
                    <a href="#" class="link">Intro to Intelligent Automation: What Is It and Why Now?</a>
                </div>

            </div>
            <div class="event">
                <div class="time">
                    <p class="start">08:30</p>
                    <p class="end">10:00</p>
                </div>
                <div class="title">
                    <a href="#" class="link">Introducing Pega’s Digital Experience Framework: Big Outcomes via Low-Code UX</a>
                </div>

            </div>
            <div class="event">
                <div class="time">
                    <p class="start">10:30</p>
                    <p class="end">12:00</p>
                </div>
                <div class="title">
                    <a href="#" class="link">Transforming Customer Engagement at Her Majesty's Revenue & Customs</a>
                </div>
            </div>
            <div class="event">
                <div class="time">
                    <p class="start">10:30</p>
                    <p class="end">12:00</p>
                </div>
                <div class="title">
                    <a href="#" class="link">Pega Upgrades Made Easy</a>
                </div>
            </div>
            <div class="event">
                <div class="time">
                    <p class="start">12:30</p>
                    <p class="end">14:00</p>
                </div>
                <div class="title">
                    <a href="#" class="link">Health Data for Research: From 17 Months to 17 Seconds</a>
                </div>
            </div>
            <div class="event">
                <div class="time">
                    <p class="start">12:30</p>
                    <p class="end">14:00</p>
                </div>
                <div class="title">
                    <a href="#" class="link">Playing to Win: Reimagination and Rapid Delivery of Aftersales Customer Journeys to Drive Navistar 4.0</a>
                </div>
            </div>
            <div class="event">
                <div class="time">
                    <p class="start">14:30</p>
                    <p class="end">16:00</p>
                </div>
                <div class="title">
                    <a href="#" class="link">Modernizing for the Future: Digital Transformation at FedEx</a>
                </div>

            </div>
            <div class="event">
                <div class="time">
                    <p class="start">14:30</p>
                    <p class="end">16:00</p>
                </div>
                <div class="title">
                    <a href="#" class="link">Pega, Adobe, and Accenture: Delivering a Personalized CX, at Scale</a>
                </div>

            </div>
            <div class="event">
                <div class="time">
                    <p class="start">16:30</p>
                    <p class="end">18:00</p>
                </div>
                <div class="title">
                    <a href="#" class="link">The Insider’s View on What It Takes for Successful Digital Transformation in CRM</a>
                </div>
            </div>
        </div> -->
        
    </div>
</div>