<div class="date-header">
    <div class="icon-container">
        <img src="assets/images/icons/icon-calendar-empty.svg" alt="calendar icon" class="icon"> 
    </div>
    <h3 class="date-header__date">May 24, 2022</h3>  
    <div class="action-buttons"><button class="btn"><i class="arrow left"></i></button><button class="btn"><i class="arrow right"></i></button></div>
</div>
<div class="date-main">
    <ul class="day-list">
        <li class="day-list__name">
            <p class="name">Mon</p>
        </li>
        <li class="day-list__name">
            <p class="name">Tue</p>
        </li>
        <li class="day-list__name">
            <p class="name">Wed</p>
        </li>
        <li class="day-list__name">
            <p class="name">Thu</p>
        </li>
        <li class="day-list__name">
            <p class="name">Fri</p>
        </li>
        <li class="day-list__name">
            <p class="name">Sat</p>
        </li>
        <li class="day-list__name">
            <p class="name">Sun</p>
        </li>
    </ul>
    <ul class="days">
        <li class="day different">25</li>
        <li class="day different">26</li>
        <li class="day different">27</li>
        <li class="day different">28</li>
        <li class="day different">29</li>
        <li class="day different">30</li>
        <li class="day">1</li>
        <li class="day">2</li>
        <li class="day">3</li>
        <li class="day">4</li>
        <li class="day">5</li>
        <li class="day">6</li>
        <li class="day">7</li>
        <li class="day">8</li>
        <li class="day">9</li>
        <li class="day">10</li>
        <li class="day">11</li>
        <li class="day">12</li>
        <li class="day">13</li>
        <li class="day">14</li>
        <li class="day">15</li>
        <li class="day">16</li>
        <li class="day">17</li>
        <li class="day">18</li>
        <li class="day">19</li>
        <li class="day">20</li>
        <li class="day">21</li>
        <li class="day">22</li>
        <li class="day">23</li>
        <li class="day active">24</li>
        <li class="day semi-active">25</li>
        <li class="day semi-active">26</li>
        <li class="day">27</li>
        <li class="day">28</li>
        <li class="day">29</li>
        <li class="day">30</li>
        <li class="day">31</li>
        <li class="day different">1</li>
        <li class="day different">2</li>
        <li class="day different">3</li>
        <li class="day different">4</li>
        <li class="day different">5</li>
    </ul>
</div>