
$color-primary: #076bc9;
$text-color: #696969;
$text-color-heading: #050505;
$text-link-white: #bec0c1;

$background-color: #e9eef3;
$background-color-navigation: #252c32;
$background-button-round: lighten($background-color-navigation, 25%);
$background-heading-icons: darken($color-primary, 10%);
$default-gutter: 20px;
$background-table-header: #f5f5f5;

$border-radius-input: 30px;
$round-radius: 50%;
$icon-radius: 5px;

$border-color: #cfcfcf;
$border: 1px solid $border-color;

// MEDIA QUERIES
$size-l: 900px;
$size-m: 650px;
$size-s: 450px;

$title-font-size: 1.8rem;
$date-font-size: 1.4rem;
$default-font-size: 1.4rem;

// FILTERS
$filter-white: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
@mixin typography-title {
    margin: 0 0 $default-gutter;
    font-size: $title-font-size;
    color: $text-color-heading;
    font-weight: 700;
}

@mixin typography-date {
    font-size: $date-font-size;
    color: $text-color;
    font-weight: 400;
}

@mixin container {
    background-color: #fff;
    padding: $default-gutter;
    display: block;
    width: 100%;
    border-radius: $icon-radius;
    &:not(:last-of-type) {
        margin-bottom: $default-gutter;
    }
}